<template name="register">

	<div id="page-reg" class="login-single animated  ">
		<div class="login-header" style="{{ facc.headerStyle }}">
			注册新用户
			<div class="login-header-right login-page-back"><i class="fa fa-chevron-right"></i></div>
		</div>
		<div class="page-login-body" style="{{ facc.bodyStyle }}">
			<div class="page-login-form">
				{{#with accountType 1}}
				<div class="page-login-row">
					<input id="account" type="email" placeholder="请填写注册的电子邮件">
					<i class="fa fa-envelope-o"></i>
				</div>
				{{/with }}
				{{#with accountType 2}}
				<div class="page-login-row">
					<input id="account" type="tel" placeholder="请填写注册的手机号码">
					<i class="fa fa-mobile"></i>
				</div>
				{{/with }}
				{{#with accountType 3}}
				<div class="page-login-row">
					<input id="account" type="text" placeholder="请填写手机号码/电子邮件">
					<i class="fa fa-envelope-o"></i>
				</div>
				{{/with }}
				{{#with facc.nickname}}
				<div class="page-login-row">
					<input id="nickname" type="text" placeholder="请填写您的昵称">
					<i class="fa fa-user"></i>
				</div>
				{{/with }}
				<div class="page-login-row">
					<input id="password" type="password"  placeholder="请填写注册的密码">
					<i class="fa fa-key"></i>
				</div>
				<div class="page-login-btng">
					<div class="page-login-btn regBtn ">注册</div>
				</div>
			</div>
		</div>
	</div>
	
</template>